@import "../mixins";
@import "../variables";

.contacts-section {
  padding: 0px 16px !important;
  min-height: calc(100vh - 68px);
}

.contacts-subtitle {
  max-width: 576px;
  @include typography(subtitle, desktop, 400);
  color: $gray-600;
}

.contacts-email,
.contacts-phone {
  @include typography(heading-h2, mobile, 700);
  color: $gray-900;
  word-break: break-all;
}

.contacts-body2 {
  @include typography(body2, all, 400);
  color: $gray-600;
}

.contacts-icon,
.copy-icon {
  padding: 6px;
  user-select: none;
}

.copy-icon-wrapper {
  border-radius: 8px;
  cursor: pointer;
  transition: none;
  &:hover {
    background-color: $gray-100;
  }
  &:active {
    background-color: $gray-200;
  }
}

.tooltip-inner {
  font-weight: 500;
}

.tooltip-arrow {
  &::before {
    transition: border-top-color 0.3s ease-in-out,
      border-bottom-color 0.3s ease-in-out;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .contacts-section {
    padding: 80px 0px !important;
    min-height: auto;
  }
}

@media (min-width: 992px) {
  .contacts-section {
    padding: 0px !important;
  }

  .contacts-email,
  .contacts-phone {
    @include typography(heading-h2, desktop, 700);
  }
  .contacts-icon,
  .copy-icon {
    height: 44px;
    width: 44px;
  }
}
