@import "../mixins";
@import "../variables";

.contacts-section {
  padding: 80px 16px !important;
}

.contacts-subtitle {
  max-width: 576px;
  @include typography(subtitle, desktop, 400);
  color: $gray-600;
}

.contacts-email,
.contacts-phone {
  @include typography(heading-h2, mobile, 700);
  color: $gray-900;
  word-break: break-all;
}

.contacts-body2 {
  @include typography(body2, all, 400);
  color: $gray-600;
}

.contacts-icon, .copy-icon {
  padding: 6px;
  user-select: none;
}

.copy-icon-wrapper {
  border-radius: 8px;
  cursor: pointer;
  transition: none;
  &:hover {
    background-color: $gray-100;
  }
  &:active {
    background-color: $gray-200;
  }
}

@media (min-width: 992px) {
  .contacts-section {
    padding: 96px 0px !important;
  }

  .contacts-email,
  .contacts-phone {
    @include typography(heading-h2, desktop, 700);
  }
  .contacts-icon, .copy-icon {
    height: 44px;
    width: 44px;
    
  }
}
