@import "../mixins";
@import "../variables";

.projects-section {
  padding: 64px 16px !important;
}

.projects-img-col, .projects-content-col {
  padding: 32px !important;
}

.projects-technologies-col {
  flex: 0 !important;
}

.projects-external-link {
  padding: 6px;
  border-radius: 8px;
}

.projects-section-subtitle {
  @include typography(subtitle, mobile, 400);
  color: $gray-600;
}

.projects-subtitle {
  @include typography(subtitle, mobile, 600);
  color: $gray-900;
}

.projects-text {
  @include typography(body2, all, 400);
  color: $gray-600;
}