.card {
  border-radius: 20px !important;
  box-shadow: 2px 2px 100px rgba(#000000, 0.2);
  border: none !important;
}

.card-img-top {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  max-height: 152px;
  object-fit: cover;
}

.card-title {
  font-size: 28px !important;
}

.card-footer-icon {
  width: 20px;
}

.card-text {
  font-weight: 300;
}

.card-text-tech-stack {
  color: #42446e;
  span {
    font-weight: 400;
  }
}

.card-link {
  color: #000000;
  font-weight: 500;
}

@media (min-width: 0px) and (max-width: 575px) {
  .projects-section {
    min-height: 100vh;
  }
}

@media (min-width: 992px) {
  .projects-section {
    min-height: 100vh;
  }
}
