@import "../mixins";
@import "../variables";

.projects-section {
  padding: 64px 16px !important;
}

.projects-img-col, .projects-content-col {
  padding: 32px !important;
}

.projects-img {
  width: 100%;
}

.projects-technologies-col {
  flex: 0 !important;
}

.projects-external-link {
  padding: 6px;
  border-radius: 8px;
  height: 36px;
  width: min-content;
  &:hover {
    background-color: $gray-100;
  }
  &:active {
    background-color: $gray-200;
  }
}

.projects-section-subtitle {
  @include typography(subtitle, mobile, 400);
  color: $gray-600;
}

.projects-subtitle {
  @include typography(subtitle, mobile, 600);
  color: $gray-900;
}

.projects-text {
  @include typography(body2, all, 400);
  color: $gray-600;
}

@media (min-width: 992px) {
  .projects-img {
    max-width: 480px !important;
  }
  .projects-img-col, .projects-content-col {
    padding: 48px !important;
  }

  .projects-subtitle {
    @include typography(subtitle, desktop, 600);
  }
  
  .projects-text {
    @include typography(body2, all, 400);
  }
}