@import "../variables";
@import "../mixins";

.navbar {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar-brand {
  color: $gray-950;
  font-size: 30px !important;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.6px;
  cursor: pointer;
}

.navbar-toggler {
  padding: 6px !important;
  border: none !important;
}

.close-btn {
  padding: 6px;
}

.nav-item {
  @include typography(body2, all, 500);
  color: $gray-600;
  cursor: pointer;
  &:hover {
    color: $gray-900;
  }
}

.offcanvas-title {
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 32px !important;
  letter-spacing: -0.48px !important;
  color: $gray-900 !important;
}

.switch-theme-text {
  display: inline-block;
  @include typography(body2, all, 400);
  height: min-content;
  color: $gray-600;
}

.switch-theme-btn {
  height: min-content !important;
  padding: 6px;
  cursor: pointer;
  height: 36px !important;
}

.download-cv-btn {
  padding: 6px 16px;
  background-color: $gray-900;
  border-radius: 12px;
  border: none;
  @include typography(body2, all, 600);
  color: $white;
  &:hover {
    background-color: $gray-700;
  }
  &:active {
    background-color: $gray-800;
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    flex: 1;
  }

  .switch-theme-container,
  .navbar-action-container {
    flex: 0;
  }

  .switch-theme-text {
    display: none;
  }
}
