@import "../variables";
@import "../mixins";

.navbar {
  background-color: #fff;
}

.navbar-brand {
  font-size: 30px !important;
  font-weight: 700;
  color: $gray-950;
  line-height: 36px;
  letter-spacing: -0.6px;
}

.navbar-toggler {
  padding: 6px !important;
  border: none !important;
}

.close-btn {
  padding: 6px;
}

.nav-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: $gray-600;
  cursor: pointer;
}

.offcanvas-title {
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 32px !important;
  letter-spacing: -0.48px !important;
  color: $gray-900 !important;
}

.switch-theme-text {
  display: inline-block;
  @include typography(body2, all, 400);
  height: min-content;
}

.switch-theme-btn {
  height: min-content !important;
  padding: 6px;
  cursor: pointer;
  height: 36px !important;
}

.download-cv-btn {
  background-color: $gray-900 !important;
  border-radius: 12px !important;
  border: none !important;
}

@media (min-width: 992px) {
  .navbar-nav {
    flex: 1;
  }

  .switch-theme-container,
  .navbar-action-container {
    flex: 0;
  }

  .switch-theme-text {
    display: none;
  }
}
