@import "../variables";
@import "../mixins";

.footer-text,
.footer-text-underline {
  @include typography(body3, all, 400);
  color: $gray-600;
}

.footer-text-underline {
  cursor: pointer;
  text-underline-offset: 3px;
}

.copyright-icon {
  width: 16px;
  height: 16px;
}
