@import "../variables";
@import "../mixins";

.about-section {
  padding: 80px 16px !important;
}

.about-img {
  width: clamp(0px, calc(100% - 40px), 280px);
  height: 360px;
  border: 8px solid $white;
  object-fit: cover;
  z-index: 2;
}

.about-img-background {
  width: clamp(0px, 100%, 320px);
  height: 360px;
  background-color: $gray-200;
  position: absolute;
  z-index: 1;
  border: 8px solid $white;
  top: 20px;
}

.about-img-col {
  position: relative;
  width: 100%;
}

.about-content-h1 {
  margin-top: 66px !important;
  @include typography(heading-h3, mobile, 600);
}

.about-content-quote {
  padding: 4px 6px;
  background-color: $gray-200;
}

.about-content-text, .about-content-quote {
  @include typography(body2, all, 400);
  color: $gray-600;
}

@media (min-width: 768px) {
  .about-content-h1 {
    margin-top: 0px !important;
    @include typography(heading-h3, tablet, 600);
  }

  .about-img {
    margin-left: 40px;
  }

  .about-img-background {
    width: 280px;
    height: 360px;
    top: 40px;
  }
}

@media (min-width: 992px) {
  .about-section {
    padding: 96px 0px !important;
  }
  .about-content-h1 {
    margin-top: 0px !important;
    @include typography(heading-h3, desktop, 600);
  }

  .about-img,
  .about-img-background {
    width: 400px;
    height: 480px;
  }
}
