@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
#root,
body,
html {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

* {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.offcanvas {
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dark-theme ::-webkit-scrollbar {
  background-color: #4b5563;
}
.dark-theme ::-webkit-scrollbar-thumb {
  background: #f9fafb;
}
.dark-theme .navbar {
  background: rgba(3, 7, 18, 0.5);
}
.dark-theme .navbar-divider {
  background-color: #1f2937;
}
.dark-theme .navbar-brand,
.dark-theme .offcanvas-title,
.dark-theme .home-content-h1,
.dark-theme .about-content-h1,
.dark-theme .projects-subtitle,
.dark-theme .contacts-email,
.dark-theme .contacts-phone,
.dark-theme .ti-cursor {
  color: #f9fafb !important;
}
.dark-theme .nav-item,
.dark-theme .switch-theme-text {
  color: #d1d5db;
}
.dark-theme .home-img {
  border: 8px solid #030712;
}
.dark-theme .home-img-background {
  background-color: #374151;
  border: 8px solid #030712;
}
.dark-theme .about-img {
  border: 8px solid #111827;
}
.dark-theme .about-img-background {
  background-color: #374151;
  border: 8px solid #111827;
}
.dark-theme .home-content-text,
.dark-theme .location-text,
.dark-theme .hire-text,
.dark-theme .about-content-text,
.dark-theme .about-content-quote,
.dark-theme .tech-stack-text,
.dark-theme .tech-stack-subtitle,
.dark-theme .projects-section-subtitle,
.dark-theme .projects-text,
.dark-theme .contacts-subtitle,
.dark-theme .contacts-body2,
.dark-theme .footer-text,
.dark-theme .footer-text-underline {
  color: #d1d5db;
}
.dark-theme .download-cv-btn {
  background-color: #f9fafb;
  color: #030712;
}
.dark-theme .home-section,
.dark-theme .tech-stack-section,
.dark-theme .contacts-section,
.dark-theme .offcanvas {
  background-color: #030712;
}
.dark-theme .tag {
  background-color: #374151;
  color: #f9fafb;
}
.dark-theme .about-section,
.dark-theme .projects-section,
.dark-theme .footer {
  background-color: #111827;
}
.dark-theme .projects-content-col {
  background-color: #1f2937;
}
.dark-theme .projects-img-col,
.dark-theme .about-content-quote {
  background-color: #374151;
}
.dark-theme .github-icon,
.dark-theme .linkedin-icon,
.dark-theme .telegram-icon,
.dark-theme .projects-icon,
.dark-theme .copy-icon,
.dark-theme .close-icon,
.dark-theme .menu-icon,
.dark-theme .location-icon,
.dark-theme .contacts-icon,
.dark-theme .copyright-icon {
  filter: brightness(0) saturate(100%) invert(89%) sepia(19%) saturate(66%) hue-rotate(177deg) brightness(95%) contrast(88%);
}
.dark-theme .github-link:hover,
.dark-theme .linkedin-link:hover,
.dark-theme .telegram-link:hover,
.dark-theme .copy-icon-wrapper:hover {
  background-color: #1f2937;
}
.dark-theme .github-link:active,
.dark-theme .linkedin-link:active,
.dark-theme .telegram-link:active,
.dark-theme .copy-icon-wrapper:active {
  background-color: #374151;
}
.dark-theme .projects-link:hover {
  background-color: #374151;
}
.dark-theme .projects-link:active {
  background-color: #4b5563;
}
.dark-theme .tooltip-inner {
  background-color: #f9fafb;
  color: #4b5563;
}
.dark-theme .tooltip-arrow::before {
  border-top-color: #f9fafb;
  border-bottom-color: #f9fafb;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
}

h1,
h2,
h3,
h4,
h5,
p,
div {
  font-family: "Inter";
}/*# sourceMappingURL=index.css.map */