@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

#root,
body, html {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Poppins";
}

h1, h2 {
  font-weight: 700;
  color: #42446e;
}
h4 {
  color: #666666;
}
