.tech-stack-section {
  padding: 80px 16px !important;
}

.vite-icon-container {
  position: relative;
}

.tech-stack-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #4b5563;
}

.tech-stack-icon {
  width: 64px;
  height: 64px;
}

.tech-stack-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4b5563;
}

.html-icon,
.css-icon,
.js-icon,
.react-icon,
.redux-icon,
.bootstrap-icon,
.sass-icon,
.git-icon,
.jquery-icon,
.mocha-icon,
.react-bootstrap-icon {
  transition: filter 0.2s ease-in-out;
}

.html-icon:hover {
  filter: drop-shadow(0px 0px 20px #e34c26);
  -webkit-animation: floating 2s ease-in-out infinite;
          animation: floating 2s ease-in-out infinite;
}

.css-icon:hover {
  filter: drop-shadow(0px 0px 20px #264de4);
  -webkit-animation: floating 2s ease-in-out infinite;
          animation: floating 2s ease-in-out infinite;
}

.js-icon:hover {
  filter: drop-shadow(0px 0px 20px #f0db4f);
  -webkit-animation: floating 2s ease-in-out infinite;
          animation: floating 2s ease-in-out infinite;
}

.react-icon:hover {
  filter: drop-shadow(0px 0px 20px #087ea4);
  -webkit-animation: floating 2s ease-in-out infinite;
          animation: floating 2s ease-in-out infinite;
}

.redux-icon:hover {
  filter: drop-shadow(0px 0px 10px #764abc);
  -webkit-animation: floating 2s ease-in-out infinite;
          animation: floating 2s ease-in-out infinite;
}

.bootstrap-icon:hover {
  filter: drop-shadow(0px 0px 20px #59287a);
  -webkit-animation: floating 2s ease-in-out infinite;
          animation: floating 2s ease-in-out infinite;
}

.sass-icon:hover {
  filter: drop-shadow(0px 0px 20px #cc6699);
  -webkit-animation: floating 2s ease-in-out infinite;
          animation: floating 2s ease-in-out infinite;
}

.git-icon:hover {
  filter: drop-shadow(0px 0px 20px #f34f29);
  -webkit-animation: floating 2s ease-in-out infinite;
          animation: floating 2s ease-in-out infinite;
}

.jquery-icon:hover {
  filter: drop-shadow(0px 0px 20px #0769ad);
  -webkit-animation: floating 2s ease-in-out infinite;
          animation: floating 2s ease-in-out infinite;
}

.mocha-icon:hover {
  filter: drop-shadow(0px 0px 20px #986c56);
  -webkit-animation: floating 2s ease-in-out infinite;
          animation: floating 2s ease-in-out infinite;
}

.react-bootstrap-icon:hover {
  filter: drop-shadow(0px 0px 20px #61dafb);
  -webkit-animation: floating 2s ease-in-out infinite;
          animation: floating 2s ease-in-out infinite;
}

.vite-icon {
  position: relative;
  z-index: 2;
}

.vite-icon-background {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 64px;
  height: 64px;
  background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.vite-icon-container:hover .vite-icon {
  -webkit-animation: floating 2s ease-in-out infinite;
          animation: floating 2s ease-in-out infinite;
}
.vite-icon-container:hover .vite-icon-background {
  opacity: 0.75;
  -webkit-animation: floating 2s ease-in-out infinite;
          animation: floating 2s ease-in-out infinite;
}

@media (min-width: 992px) {
  .tech-stack-section {
    padding: 96px 0px !important;
  }
  .tech-stack-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }
  .tech-stack-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
}
@-webkit-keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}/*# sourceMappingURL=TechStack.css.map */