@import "../mixins";
@import "../variables";

.tech-stack-section {
  padding: 64px 16px !important;
}

.tech-stack-subtitle {
  @include typography(subtitle, mobile, 400);
  color: $gray-600;
}

.tech-stack-col {
  width: min-content !important;
}

.tech-stack-icon {
  width: 64px;
  height: 64px;
}

.tech-stack-text {
  @include typography(body1, mobile, 400);
  color: $gray-600;
}